## Unity ##

*.cs diff=csharp text
*.cginc text
*.shader text

*.mat merge=unityyamlmerge binary diff=text
*.anim merge=unityyamlmerge binary diff=text
*.unity merge=unityyamlmerge binary diff=text
*.prefab merge=unityyamlmerge binary diff=text
*.physicsMaterial2D merge=unityyamlmerge binary diff=text
*.physicsMaterial merge=unityyamlmerge binary diff=text
*.asset merge=unityyamlmerge binary diff=text
*.meta merge=unityyamlmerge binary diff=text
*.controller merge=unityyamlmerge binary diff=text
